.header {
	display: grid;
	grid-template-columns: 1fr min-content 1fr;
	align-items: center;
	align-content: center;
	width: 1100px;
	height: 293px;
	font-size: 18px;
}

.header__menu {
	font-family: Raleway;
	font-size: 18px;
	font-weight: 400;
	line-height: 21.13px;
	text-decoration-skip-ink: none;
	margin-left: 50px;
	width: 391.48px;
}

.header__menu-list {
	list-style-type: circle;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	gap: 31.5px;
}

.header__menu-list li:first-child {
	list-style: none;
}

.header__menu-link {
	font-family: Raleway;
	font-size: 18px;
	font-weight: 400;
	line-height: 21.13px;
	text-align: left;
	text-underline-position: under;
	text-decoration-skip-ink: none;
}

.header__logo {
	display: block;
	width: 148px;
	height: 105px;
	text-align: center;
}

.header__logo-image {
	width: 90%;
	background-position: top center;
}

.contacts {
	justify-self: end;
	width: 240px;
	height: 98px;
	line-height: 24.3px;
	margin-right: 50px;
	font-style: normal;
}

.cover {
	position: relative;
	background-image: url(../images/cover.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 1100px;
	height: 757px;
	z-index: 1;
}

.overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #000;
	z-index: 0;
	opacity: 60%;
}

.cover__title {
	display: block;
	position: absolute;
	color: #fff;
	width: 1000px;
	height: 385px;
	top: 165px;
	left: 50px;
}

.accent-span {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-size: 100px;
	font-weight: 700;
	line-height: 115px;
	letter-spacing: 0.3em;
	text-transform: uppercase;
}

.text-center {
	text-align: center;
	width: 339px;
	padding-left: 330.5px;
	padding-top: 20px;
}

.text-right {
	text-align: right;
	align-self: flex-end;
	width: 387px;
	padding-left: 613px;
	padding-top: 20px;
}

.cover__description {
	display: flex;
	position: absolute;
	align-items: center;
	justify-content: space-around;
	color: #fff;
	bottom: 50px;
	width: 100%;
	z-index: 1;
	text-transform: uppercase;
}

.cover__description-text {
	word-spacing: 18px;
	font-weight: 400;
	font-size: 22px;
	line-height: 28px;
	width: 637px;
}

button {
	height: 51px;
	color: #fff;
	background-color: transparent;
	cursor: pointer;
	border: 1px solid #fff;
	outline: none;
	padding: 12px 32px 11px 31px;
	font-weight: 500;
	font-size: 22px;
	text-transform: uppercase;
}

.lots {
	width: 1052px;
	height: 723px;
	margin: 180px 24px 120px 24px;
	position: relative;
}

.lots__heading {
	font-weight: 700;
	font-size: 40px;
	line-height: 46.96px;
	padding: 0 173px 27px 40px;
	text-transform: uppercase;
}

.lots__card-list {
	height: 596px;
	display: flex;
	justify-content: space-between;
	color: #fff;
	flex-direction: row;
	align-content: flex-start;
}

.lots__card-list-item {
	width: 334px;
	list-style: none;
}

.card {
	position: relative;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-size: cover;
}

.card-link {
	text-decoration: none;
}

.card-title {
	position: inherit;
	font-weight: 700;
	font-size: 22px;
	line-height: 26.4px;
	padding: 48px 40px 30px;
	text-decoration: underline;
	text-transform: uppercase;
}

.card-text {
	position: inherit;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	padding: 0 40px 48px;
}

.card_type_frame1 {
	background-image: url(..//images/card-lot-01.jpg);
	background-position: bottom;
}

.card_type_frame2 {
	background-image: url(..//images/card-lot-02.jpg);
	background-position: bottom;
}

.card_type_frame3 {
	background-image: url(..//images/card-lot-03.jpg);
	background-position: bottom;
}

.lots__look-more-link {
	font-size: 20px;
	font-weight: 400;
	line-height: 23.48px;
	position: absolute;
	left: 40px;
	bottom: 0;
}

.about {
	width: 1052px;
	display: grid;
	grid-template-columns: 334px auto;
	margin: 0px 24px 180px;
}

.about__logo {
	padding-top: 35px;
	padding-left: 47px;
}

.about__logo_background {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #000;
	border-radius: 50%;
	width: 240px;
	height: 240px;
}

.about__logo-images {
	background-image: url(..//images/logo-white.svg);
	width: 148px;
	height: 114px;
	top: 64px;
	left: 46.48px;
}

.about__auction {
	width: 693px;
	height: 449px;
	margin-top: 133px;
	padding-left: 25px;
}

.about__title {
	padding-top: 3px;
	padding-bottom: 100px;
	font-size: 40px;
	font-weight: 700;
	line-height: 46.96px;
	text-transform: uppercase;
}

.about__text {
	font-size: 20px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
	text-underline-position: from-font;
	text-decoration-skip-ink: none;
}

.about__text {
	padding: 0 0 24px 0;
}

.footer {
	margin-top: 190px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-content: center;
	width: 1100px;
	height: 180px;
	font-size: 18px;
	justify-items: center;
	align-items: start;
}

.footer__contacts {
	padding-left: 50px;
	padding-bottom: 82px;
	font-style: normal;
}

.footer__menu {
	display: grid;
	width: 163.9px;
	height: 64px;
	justify-self: center;
}

.footer__menu-list {
	list-style-type: circle;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: space-evenly;
	list-style: none;
}

.footer__social-list {
	list-style: none;
	width: 240px;
	height: 50px;
}

.footer__social-link {
	text-decoration: none;
	display: flex;
	flex-direction: row;
	text-align: start;
	justify-content: space-between;
	list-style: none;
}

.footer__social-icon {
	width: 48px;
	height: 48px;
}